<div class="site-wrapper">
  <h4 id="utc-text">Current UTC Offset: <span class="timezone-display"></span></h4>
  <div class="site-container">
    <h1>Is the Moon void of course ?</h1>
    <% if @void %>
<h2>Yup.</h2>
<h3>Moon turned void on <%= @void.begin.strftime("%B %e at %H:%M") %> UTC</h3>
<h3>Void period ends on <%= @void.end.strftime("%B %e at %H:%M") %> UTC</h3>
  <% if @void.aspect %>
  <h4>separating from : <%= @void.aspect.formatted_degree %><%= @void.aspect.formatted_planet %></h4>
  <% end %>
<% else %>
<h2>Nope.</h2>
<h3>Moon will be void on</h3>
<% end %>
    <h3 class="sign-message">Moon is in <%= @moon %></h3>

    <div class="moon-image" >
  </div>
</div>

