<div class="site-wrapper">
<div class="flex">
  <h4 id="utc-text">Current UTC Offset: <span class="timezone-display"></span></h4>
  <% if user_signed_in? %>
    <%= link_to "Log out", destroy_user_session_path, id: "#", method: "delete" %>
    <% end %>
  </div>
  <div class="site-container">
    <h1>Is the Moon void of course ?</h1>
    <% if @void %>
<h2>Yup.</h2>
<div class="hidden last-void"><%= @void.begin.strftime("%H:%M") %></div>
<h3>Moon turned void on <%= @void.begin.strftime("%B %e") %> at <span class="calculated-last">(Calculating)</span> local time</h3>

<div class="hidden next-end"><%= @void.end.strftime("%H:%M") %></div>
<h3>Void period ends on <%= @void.end.strftime("%B %e") %> at <span class="calculated-end">(Calculating)</span> local time.</h3>
  <% if @void.aspect %>
  <h4>separating from : <%= @void.aspect.formatted_degree %><%= @void.aspect.formatted_planet %></h4>
  <% end %>
<% else %>
<h2>Nope.</h2>

<div class="next-void hidden"><%= @next_void.begin.strftime("%H:%M") %></div>
<h3>Moon will be void on <%= @next_void.begin.strftime("%B %e") %> at <span class="calculated-next">(Calculating)</span> local time</h3>
<% end %>
    <h3 class="sign-message">Moon is in <%= @moon %></h3>

    <div class="moon-image" >
  </div>
</div>
